{% load static %}
<!-- Top header start -->
<header class="top-header th-2 top-header-bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-7">
        <div class="list-inline">
          <a href="tel:+55-4XX-634-7071"><i class="fa fa-phone"></i>+55-4XX-634-7071</a>
          <a href="tel:info@themevessel.com"><i class="fa fa-envelope"></i>info@themevessel.com</a>
          <a href="tel:info@themevessel.com"><i class="fa fa-clock-o"></i>Mon - Sun: 8:00am - 6:00pm</a>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-5">
        <ul class="top-social-media pull-right">
          <li>
            <a href="login.html" class="sign-in"><i class="fa fa-sign-in"></i> Login</a>
          </li>
          <li>
            <a href="signup.html" class="sign-in"><i class="fa fa-user"></i> Register</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
<!-- Top header end -->

<!-- Main header start -->
<header class="main-header sticky-header header-with-top">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand company-logo" href="index.html">
        <img src="{% static 'img/logos/black-logo.png' %}" alt="logo">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="fa fa-bars"></span>
      </button>
      <div class="navbar-collapse collapse w-100" id="navbar">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Home
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="cars.html">
              Cars
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'about' %}">
              About
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'services' %}">
              Services
            </a>
          </li>


          <li class="nav-item dropdown">
            <a class="nav-link" href="{% url 'contact' %}">Contact</a>
          </li>
          <li class="nav-item dropdown m-hide">
            <a href="#full-page-search" class="nav-link h-icon">
              <i class="fa fa-search"></i>
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>
<!-- Main header end -->

<!-- Banner start -->
<div class="banner" id="banner">
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner banner-slider-inner text-center">
      <div class="carousel-item banner-max-height active item-bg">
        <img class="d-block w-100 h-100" src="{% static 'img/car-1.jpg' %}" alt="banner">
        <div class="carousel-content container banner-info-2 bi-2 text-left">
          <h3>Wow Factor Standard</h3>
          <h5>Allow us to guide you through the innovative stress<br>
            free approach in finding your dream car.</h5>
          <a href="services.html" class="btn btn-lg btn-theme">Read more</a>
        </div>
      </div>
      <div class="carousel-item banner-max-height item-bg">
        <img class="d-block w-100 h-100" src="{% static 'img/car-2.jpg' %}" alt="banner">
        <div class="carousel-content container banner-info-2 bi-2 text-left">
          <h3>Explore Your Dream Car</h3>
          <h5>Allow us to guide you through the innovative stress<br>
            free approach in finding your dream car.</h5>
          <a href="#" class="btn btn-lg btn-theme">Read more</a>
        </div>
      </div>
      <div class="carousel-item banner-max-height item-bg">
        <img class="d-block w-100 h-100" src="{% static 'img/car-3.jpg' %}" alt="banner">
        <div class="carousel-content container banner-info-2 bi-2 text-left">
          <h3>We Are Wheel</h3>
          <h5>Allow us to guide you through the innovative stress<br>
            free approach in finding your dream car.</h5>
          <a href="#" class="btn btn-lg btn-theme">Read more</a>
        </div>
      </div>
    </div>
    <!-- Search box 3 start -->
    <div class="search-box-4 sb-8">
      <form action="#" method="">
        <div class="form-group">
          <input type="text" name="keyword" placeholder="Search by name" class="form-control">
        </div>
        <div class="form-group">
          <select class="form-control search-fields" name="select-brand">
            <option selected="true" disabled="disabled">Brand</option>
            <option>Audi</option>
            <option>BMW</option>
            <option>Honda</option>
            <option>Nissan</option>
          </select>
        </div>
        <div class="form-group">
          <select class="form-control search-fields" name="select-make">
            <option selected="true" disabled="disabled">Model</option>
            <option>BMW</option>
            <option>Honda</option>
            <option>Lamborghini Huracán</option>
            <option>Sports Car</option>
          </select>
        </div>
        <div class="form-group">
          <select class="form-control search-fields" name="select-location">
            <option selected="true" disabled="disabled">Location</option>
            <option>United States</option>
            <option>United Kingdom</option>
          </select>
        </div>
        <div class="form-group">
          <select class="form-control search-fields" name="select-year">
            <option selected="true" disabled="disabled">Year</option>
            <option>2016</option>
            <option>2017</option>
            <option>2018</option>
            <option>2019</option>
          </select>
        </div>
        <div class="form-group">
          <select class="form-control search-fields" name="select-type">
            <option selected="true" disabled="disabled">Select Type Of Car</option>
            <option>Sedan</option>
            <option>Sports</option>
            <option>Hatchback</option>
            <option>Pickup Truck</option>
            <option>SUV</option>
          </select>
        </div>
        <div class="range-slider clearfix">
          <label>Price</label>
          <div data-min="0" data-max="150000" data-min-name="min_price" data-max-name="max_price" data-unit="USD"
            class="range-slider-ui ui-slider" aria-disabled="false"></div>
          <div class="clearfix"></div>
        </div>
        <div class="form-group">
          <button class="btn btn-block button-theme btn-md">
            <i class="fa fa-search"></i> Search
          </button>
        </div>
      </form>
    </div>
    <!-- Search box 3 end -->
    <a class="carousel-control-prev none-580" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="slider-mover-left" aria-hidden="true">
        <i class="fa fa-angle-left"></i>
      </span>
    </a>
    <a class="carousel-control-next none-580" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="slider-mover-right" aria-hidden="true">
        <i class="fa fa-angle-right"></i>
      </span>
    </a>
  </div>
</div>
<!-- Banner end -->

<!-- Search box 2 end -->